<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Logga in</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onLogin()">
              <div class="mb-3">
                <label for="username"class="form-label">Användarnamn</label>
                <input type="text" id="username" class="form-control" [(ngModel)] ="username" name="username" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Lösenord</label>
                  <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
                  </div>
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Logga in</button>
                    </div>
                    </form>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                      {{errorMessage}}
                    </div>
                  </div>
                </div>
              </div>
          </div>








