body {
  background-color: #f8f9fa;
  color: #212529;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
  background-color: #343a40;
  color: #f8f9fa;
}

body.dark-theme .navbar {
  background-color: #212529 !important;
  color: #f8f9fa;
}

body.dark-theme .navbar-brand,
body.dark-theme .nav-link {
  color: #f8f9fa !important;
}

body.dark-theme .card {
  background-color: #495057;
  color: #f8f9fa;
  border-color: #6c757d;
}

body.dark-theme .list-group-item {
  background-color: #495057;
  color: #f8f9fa;
  border-color: #6c757d;
}

body.dark-theme .form-control {
  background-color: #6c757d;
  color: #f8f9fa;
  border-color: #495057;
}

body.dark-theme .btn-outline-secondary {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
body.dark-theme .btn-outline-secondary:hover {
  background-color: #f8f9fa;
  color: #343a40;
}

body.dark-theme .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
body.dark-theme .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}
