<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Registrera dig</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onRegister()">
            <div class="mb-3">
              <label for="username" class="form-label">Användarnamn</label>
              <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required>
            </div>

            <div class="mb-3 position-relative">
              <label for="password" class="form-label">Lösenord</label>
              <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" [(ngModel)]="password" name="password" required>
              <i class="bi bi-eye position-absolute" [ngClass]="{'text-muted': !showPassword}" (click)="togglePassword()" style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>
            </div>

            <div class="mb-3 position-relative">
              <label for="confirmPassword" class="form-label">Bekräfta lösenord</label>
              <input [type]="showPassword ? 'text' : 'password'" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
              <i class="bi bi-eye position-absolute" [ngClass]="{'text-muted': !showPassword}" (click)="togglePassword()" style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Registrera</button>
            </div>
          </form>

          <!-- Mostrar mensaje de error si hay uno -->
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>

          <!-- Mostrar mensaje de éxito si el registro fue exitoso -->
          <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{ successMessage }}
          </div>

          <p class="mt-3 text-center">
            Har du redan ett konto? <a routerLink="/login">Logga in här</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

